.image-upload{
  width: 1200px;
  margin: 0 auto; /* 페이지 중앙 정렬 */
  margin-top: 20px;
  border: 1px solid black;
}
.title{
  width: 100px
}
.studio{
  width:40px;
  margin-left: 9px;
  margin-bottom: 9px;
}
.page{
 /* background-color:  rebeccapurple; */
}
#info{
  float: left;
  width: 598px;
  height: 400px;
  border: 1px solid gray;
  margin-top: 40px;
}
#mainContainer{
  width: 600px;
  height: 400px;
  background-color: hotpink;
  float: right;
  margin-top: 40px;
}
#img-box{
  /* background-color:  hotpink; */
  width: 408px;
  height: 408px;
}
